body{
    background-color: #212529;
    height: 100%;
}

.dbc{
    height: 100%;
}
.ms-auto{
    margin: auto !important;
}

.div-main{
    color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 15vw;
}
